<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/styles.css">
  <title>Home</title>
</head>
<body>
  <div class="navbar">
    <a href="home.hbs">Home</a>
    <a href="login.hbs">Login</a>
    <a href="signup.hbs">Signup</a>
  </div>
  <div class="content">
    <!-- Empty content section for now -->
  </div>
</body>
</html>
